.f_images{
    /* justify-content: space-between; 
    display: flex; */
 }
 .f1{
    background: teal;
    width: 100%;
    display: flex;
 }
.f1 img{ 
    width: 10rem;
    background: white;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 10px;
    margin: 20px;

}

.f1 img:hover{ 
    margin: 30px;
    transition-duration: .5s;
}
.f1 .f1-text p{
    font-size: 40px;
    margin-left: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: white;
}
